[submodule "backend"]
	path = backend
	url = git@github.com:smartcatboy/backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:smartcatboy/frontend.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:smartcatboy/deploy.git
